<a href="https://colab.research.google.com/github/manishashetty29/Python/blob/main/TABULATE/TABULATE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from tabulate import tabulate
headers=["name","Age","department"]
data=[
    ["Ravi","20","ISE"],
    ["pavi","21","CSE"],
    ["ram","21","aiml"],
    ["mohan","21","ecc"],
    ["sita","21","cv"]]
print(tabulate(data,headers=headers,tablefmt="fancy_grid"))

╒════════╤═══════╤══════════════╕
│ name   │   Age │ department   │
╞════════╪═══════╪══════════════╡
│ Ravi   │    20 │ ISE          │
├────────┼───────┼──────────────┤
│ pavi   │    21 │ CSE          │
├────────┼───────┼──────────────┤
│ ram    │    21 │ aiml         │
├────────┼───────┼──────────────┤
│ mohan  │    21 │ ecc          │
├────────┼───────┼──────────────┤
│ sita   │    21 │ cv           │
╘════════╧═══════╧══════════════╛

In [2]:
from tabulate import tabulate
headers=["name","Age","department"]
data=[
    ["Ravi","20","ISE"],
    ["pavi","21","CSE"],
    ["ram","21","aiml"],
    ["mohan","21","ecc"],
    ["sita","21","cv"]]

print(f"{headers[0]:<12}{headers[1]:<5}{headers[2]:<15}")
print("*" * 30)

for row in data:
    print(f"{row[0]:<12}{row[1]:<5}{row[2]:<15}")
    print("-"*30)

name        Age  department
******************************
Ravi        20   ISE
------------------------------
pavi        21   CSE
------------------------------
ram         21   aiml
------------------------------
mohan       21   ecc
------------------------------
sita        21   cv
------------------------------